
code/__pycache__/server.cpython-39.pyc
code/__pycache__/send_recv.cpython-39.pyc
code/__pycache__/connection.cpython-39.pyc
code/__pycache__/driver_controller.cpython-39.pyc
code/__pycache__/data.cpython-39.pyc
*.json
data/cookies
data/data.json
code/__pycache__/driver_controller.cpython-39.pyc
